# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.env

# VS Code
.vscode/

# Uploaded resumes
static/uploads/resumes/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db